<div class= "wrapper">

    <div class="twitter">
      <a href="https://twitter.com/Mj_Policy_Trckr" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Mj_Policy_Trckr</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

  <div id="fb-root">
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </div>

  <h2>Marijuana Laws in the U.S. Over Time</h2>


   <script language="javascript" type=text/javascript>
      function checkValue1(){
           document.getElementById("imagetest").innerHTML = "<img src='assets/1990map-9df0ed454ca4a32d166bb5eda36bba547e33e6355e7582710560f0ae48eb72ee.png'>";
         }
         function checkValue2(){
           document.getElementById("imagetest").innerHTML = "<img src='assets/1996map-ffc1d34a3640e139a15ee10061dbf8e38891053c1c931a40578de511613bc62f.png'>";
         }
          function checkValue3(){
           document.getElementById("imagetest").innerHTML = "<img src='assets/2005map-3e46a5f1633dba921cad37ae7880accbbc681a431d9dbebf5e9fa804271a4dea.png'>";
         }

         function checkValue4(){
           document.getElementById("imagetest").innerHTML = "<img src='assets/2015map-93cb71e672e0a1329e6d5219497a25f8729b07e281c7d3c4dbaddb5ebd86042a.png'>";
         }
   </script>

  <div>
   <div class = "timeline_form">
      <div class = "time_divisions">
         <% delimiter = "&nbsp;" * 5 %>
         <% point_character = "I" %>
         <%= ("#{point_character}#{delimiter}" * 25).html_safe %>
       </div>

      <div class = "actual_timeline"></div>
        <form name='timeline_buttons'>
          <div style="left:0px;"><input id='first'  type="radio" name="field" value="one" onclick='checkValue1()'>1990</div>
          <div style="left:19%;"><input id='second' type="radio" name="field" value="two" onclick='checkValue2()'>1996</div>
          <div style="left:60%;"><input id='second' type="radio" name="field" value="three" onclick='checkValue3()'>2005</div>
          <div style="right:0px;"><input id='fourth'  type="radio" name="field" value="four" onclick='checkValue4()'>2015</div>
        </form>
    </div>

   <div class="state_menu">
     <h3>View Current Policy and News for:</h3>
        <form action= "go_to_state" method='post'>
          <%#= select("get", :id, @states.collect {|state| [ state.name, state.id ] }, {prompt: "Select State"}) %>
          <select name="id">
          <% @states.each do |state| %>
            <option value="<%= state.id %>"><%= state.name %></option>
            <% end %>
          </select>
        <input type='submit' value="Go">
        <%#= button_to "Submit", "states/" + state.id %>
        <%#= button_to "Show", states_path(@state), :class => "button", :method => :get %>
        </form>
    </div>

   <div class="display_image" id='imagetest'>
     <%= image_tag("2015map.png") %>
   </div>
  </div>

</div>
