<div class= "wrapper">
  <h2>Marijuana Laws in the US Over Time</h2>


   <script language="javascript" type=text/javascript>
      function checkValue1(){
           document.getElementById("imagetest").innerHTML = "<img src='assets/1990map.png'>";
         }
         function checkValue2(){
           document.getElementById("imagetest").innerHTML = "<img src='assets/1996map.png'>";
         }
          function checkValue3(){
           document.getElementById("imagetest").innerHTML = "<img src='assets/2005map.png'>";
         }

         function checkValue4(){
           document.getElementById("imagetest").innerHTML = "<img src='assets/2015map.png'>";
         }
   </script>

  <div>
   <div class = "timeline_form">
      <div class = "time_divisions">
         <% delimiter = "&nbsp;" * 5 %>
         <% point_character = "I" %>
         <%= ("#{point_character}#{delimiter}" * 25).html_safe %>
       </div>

      <div class = "actual_timeline"></div>
        <form name='timeline_buttons'>
          <div style="left:0px;"><input id='first'  type="radio" name="field" value="one" onclick='checkValue1()'>1990</div>
          <div style="left:19%;"><input id='second' type="radio" name="field" value="two" onclick='checkValue2()'>1996</div>
          <div style="left:60%;"><input id='second' type="radio" name="field" value="three" onclick='checkValue3()'>2005</div>
          <div style="right:0px;"><input id='fourth'  type="radio" name="field" value="four" onclick='checkValue4()'>2015</div>
        </form>
    </div>

   <div class="state_menu">
     <h3>View Current Policy for:</h3>
        <form action= "go_to_state" method='post'>
          <%#= select("get", :id, @states.collect {|state| [ state.name, state.id ] }, {prompt: "Select State"}) %>
          <select name="id">
          <% @states.each do |state| %>
            <option value="<%= state.id %>"><%= state.name %></option>
            <% end %>
          </select>
        <input type='submit'>
        <%#= button_to "Submit", "states/" + state.id %>
        <%#= button_to "Show", states_path(@state), :class => "button", :method => :get %>
        </form>
    </div>

   <div class="display_image" id='imagetest'>
     <%= image_tag("2015map.png") %>
   </div>
  </div>

</div>
