/** This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *
 {
     margin:0;
     border:0;
     padding:0;
     border-collapse:collapse;
     border-spacing:0;
     font-weight:inherit;
     font-size:inherit;
     font-style:inherit;
     color:inherit;
     background-color:transparent;
     box-sizing:border-box;
     font-family:inherit;
 }


h1 {
	text-align: center;
}

h2 {
  text-align: center;
}

body {
   font-family: 'Nunito', sans-serif;
 }

 header {
   background-color: black;
   display: block;
 }

 .logo {
   margin-left: auto;
   margin-right: auto;
 }

 .user_image {
   float: right;
 }

 .nav li{
   float: right;
   display: inline-block;
   padding-left: 10px;
 }

 body h2 {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   padding-top: 100px;
 }


 div.timeline_form input#first{
   margin-left: 1.5em;
   border: solid black 1px;
 }

 .display_image img {
    width: 50em;
  }

  /*.timeline_form {
      float: center;
  }*/

  /*.timeline_form input#first, input#second, input#third {
      display: inline-block;
  }*/

  div.time_divisions {
    margin-left: 18px;
  }

  div.actual_timeline {
    width: 44em;
    border-bottom: thick solid black;
    border-width: 10px;
    margin-left: 1em;
    margin-bottom: 1em;
  }

  div.timeline_form input#first{
    margin-left: 1.5em;
    color: black;
  }

  div.timeline_form input#second{
    margin-left: 5em;
  }

  div.timeline_form input#third{
    margin-left: 30em;
  }
  .state_menu {
    margin-left: auto;
    margin-right: auto;

  }
  .state_menu h3, .state_menu form{
    display: inline-block;
    text-align: center;
  }

div.time_divisions {
  margin-left: 18px;


