/** This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *
 {
     margin:0;
     border:0;
     padding:0;
     border-collapse:collapse;
     border-spacing:0;
     font-weight:inherit;
     font-size:inherit;
     font-style:inherit;
     color:inherit;
     background-color:transparent;
     box-sizing:border-box;
     font-family:inherit;
 }

body {
   font-family: 'Nunito', sans-serif;
   min-width:900px;
 }

 header ul{
   display:block;
   background-color:black;
   color:white;
   width:100%;
   text-align:center;
 }
 header li{
    display:inline-block;
    padding:3px 10px;
    min-width:100px;
    background-color: black;
    vertical-align:middle;
 }

 body h2 {
   font-size: 40px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   padding-top: 50px;
   padding-bottom: 10px;
 }

 .display_image img {
    width: 50em;
  }

  /*.timeline_form {
      float: center;
  }*/

  /*.timeline_form input#first, input#second, input#third {
      display: inline-block;
  }*/

  .time_divisions {
    /*margin-left: 18px;*/
  }

  .actual_timeline {
    display:block;
    margin:0 auto;
    width: 44em;
    border-bottom: thick solid black;
    border-width: 10px;
  }

  .timeline_form{
    display:block;
    width:700px;
    margin:0 auto;
  }
  .timeline_form>*
  {
    width:100%;
  }
  .timeline_form form
  {
    position:relative;
    height:30px;
  }
  .timeline_form form>div
  {
    position:absolute;
    top:0;
  }

  .state_menu {
    margin-left: auto;
    margin-right: auto;

  }
  .state_menu h3, .state_menu form{
    display: inline-block;
    text-align: center;
  }

  .state_menu {
    display: inline-block;
    text-align: center;
  }

  .disclaimer {
    text-align: center;
    width: 1000;
    font-size: 12px;
    margin-left: auto;
    margin_right: auto;
}

.wrapper {
  text-align:center;
}
.wrapper>div
{
  display:inline-block;
}
