.policy {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

.for {
  font-size: 12px;
  text-align: center;
}

.title{
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
}

.status {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  width: 550px;
  margin: 0 auto;
}

.follow {
  float: right;
  padding-right: 6px;
  padding-top: 6px;
  font-size: 12px;

}

.follow_button {
  padding:5px;
  background-color: #dcdcdc;
  border: 1px solid #666;
  border-radius: 5px;
  color:#000;
  max-width: 175px;
  max-height: 100px;
  white-space: normal;
}

.icons {
 	width: 450px;
 	margin: 0 auto;
  padding-top: 20px;
 }

.line {
  position:relative;
  padding: 10px;
}

.legal {
  	height: 42px;
		width: 42px;
  	border: 3px solid #006600;
    color: #006600;
  }

.caution {
  	height: 42px;
		width: 42px;
  	border: 3px solid #FF9900;
    color: #FF9900;
  }

.illegal {
  	height: 42px;
		width: 42px;
  	border: 3px solid #FF0000;
    color: #FF0000;
  }

.details{
  font-size: 14px;
  text-align: left;
  position: absolute;
  top: 15px;
  left: 70px;
 }

#container2 {
  width:80%;
  margin: 0 auto;
  overflow:hidden;
}

#container1 {
  float:left;
  width:100%;
  position:relative;
  right:50%;
}

.news h2,
.resources h2,
.singleton h2 {
  font-size: 25px;
  padding: 20px;
}

.news{
  float:left;
  width:46%;
  position:relative;
  left:52%;
  overflow:hidden;

}

.resources{
  float:left;
  width:46%;
  position:relative;
  left:56%;
  overflow:hidden;
}

.singleton {
  width:60%;
  margin: 0 auto;
  overflow:hidden;
}

.news ul,
.resources ul,
.singleton ul {
}
